@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff") format("woff"),
		url("../fonts/roboto.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff") format("woff"),
		url("../fonts/robotomedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff") format("woff"),
		url("../fonts/robotobold.woff2") format("woff2");
	font-weight: 700;
	font-style: bold;
}

body {
	font-family: Roboto, sans-serif;
  background-color: var(--gray-theme);
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;

  outline: 2px solid red;
}
