@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff") format("woff"), 
		url("../fonts/roboto.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff") format("woff"), 
		url("../fonts/robotomedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff") format("woff"), 
		url("../fonts/robotobold.woff2") format("woff2");
	font-weight: 700;
	font-style: bold;
}

body {
	font-family: Roboto, sans-serif;
}

.visually-hidden {
	display: none;
}

/* Color variables */
:root {
	/*basic colors*/
	--basic-white: #FFFFFF;
	--extra-white: #FEFEFE;
	--dark-white: #F8F7F4;
	--background--gray: #9D8B84;

	/*text*/
	--text-light: #FFFFFF;
	--text-dark: #323232;
	--text-gray-dark: #5A5A5A;
	--text-gray-light: #999999;

	/*background*/
	--gray-theme: #8996A6;
	--green-theme: #849D8F;
	--brown-theme: #9D8B84;

	/*button*/
	--red-linear-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--red-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);

	/*underline*/
	--transparent-gray-light: rgba(255, 255, 255, 0.2);
	--transparent-gray-dark: rgba(50, 50, 50, 0.2);

	/*popup*/
	--popup-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.page {
	background-color: var(--brown-theme);
	padding: 0 27px;
}

/* header */
.header {
	color: var(--text-light);
	
}

.header__navigation-link, 
.header__user-interface-link,
.header__catalog-option-link,
.header__phone-link {
	text-decoration: none;
	color: inherit;
}

.header__navigation-item, 
.header__user-interface-item,
.header__catalog-option-item,
.header__catalog-item {
	list-style: none;
}

.header__user-interface {
	text-decoration: none;
	color: inherit;
}

.header__navigation-link {
	border-bottom: 1px solid var(--transparent-gray);
	line-height: 0;
}

.header__navigation {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 18px;
	font-size: 16px;
}

.header__info {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

	display: flex;
	flex-direction: column;
	align-items:flex-end;
}

.header__phone-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;

	text-decoration: none;
	color: inherit;
}


/* header button */ 
.user-interface-button {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--text-light);

	background: var(--transparent-gray);
	border-radius: 20px;

	padding: 8px 16px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.user-interface-button__text {
	margin-left: 8px;
}

.user-interface-button--search {
	padding: 8px;
	border-radius: 50%;
}


/* slider */ 
.slider {
	text-align: center;
}

.slider__desc {
	color: var(--text-light);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;

	text-align: center;
}

.page__slider {
	margin: 50px;
}

.slider__button {
	display: inline-block;
}

/*button*/

.button {
	border: 0;
	text-decoration: none;
	color: var(--text-light);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 22.4px;

	background: var(--red-linear-gradient);
	box-shadow: var(--red-shadow);
	border-radius: 70px;

	cursor: pointer;
}

.button--big {
	font-size: 32px;
	line-height: 44px;
	letter-spacing: 0.05em;

	padding: 9.5px 21.95px;
}

/* bunner */ 
.bunner {
	display: flex;
	flex-direction: column;
	color: var(--text-light);
	padding: 16px 16px 22px 16px;

	width: 560px;
	background-size: cover;
	border-radius: 20px;

	margin-bottom: 20px;
}

.bunner__title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;

	margin: 0;
}

.bunner__desc {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}



.bunner--raspberry {
	background-image: url(../img/rasberry-background.jpg);
	
}

.bunner--chockolate {
	background-image: url(../img/chokolate-background.jpg);
}

.bunner__link {
	margin-left:auto;
}


/* products*/ 

.product {
	color: var(--text-light);
	font-family: 'Roboto';
	font-style: normal;

	margin: 0 20px;
}

.product:before {
	content: "";

	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url(../img/hits/hit-circle.png);
	z-index: 1;
}

.products__list {
	display: flex;
	list-style: none;
}

.product__link {
	text-decoration: none;
	color:  inherit;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.product__price {
	position: absolute;
	bottom: 20px;


	font-weight: 700;
	font-size: 45px;
	line-height: 45px;

	margin: 0 auto;
}

.product__price-small {
	font-size: 30px;
	line-height: 35px;
}

.product__image-container {
	position: relative;
}

.product__desc {
	text-align: center;
	
}

.product__desc span {
	border-bottom: 1px solid var(--transparent-gray-light);
}

/* features*/
.features {
	font-family: 'Roboto';
	font-style: normal;

	border-radius: 10px;
	background-image: url(../img/waffle.png);

	padding: 24px 20px;
	margin-bottom: 20px;
}

.features__desc {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

	margin: 0;
}

.feature__desc {
	color: var(--text-dark);

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	margin-left: 6px;
}

.feature {
	display: flex;
}

/* blog */ 
.blog {
	font-family: 'Roboto';
	font-style: normal;
	background-image: url(../img/strawberry-background.jpg);
	background-size: cover;
	border-radius: 16px;

	box-sizing: border-box;
	width: 560px;
	padding: 23px 20px 80px 20px;
	margin-bottom: 20px;
}

.blog__subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;

	margin: 0;
	margin-bottom: 5px;
}

.blog__desc {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;

	text-decoration: underline;

	margin: 0;
}


/*input */
.input {
	background-color: var(--basic-white);
	border: 1px solid rgba(178, 178, 178, 0.52);

	box-sizing: border-box;
	border-radius: 6px;
	padding: 11.81px 14px;
}

.input::placeholder {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--text-gray-light);    
}


/* mail */ 
.mail {
	font-family: 'Roboto';
	font-style: normal;

	background-image: url(../img/mail-background.jpg);
	border-radius: 16px;

	padding: 5px 6px;

	box-sizing: border-box;
	width: 560px;

	margin-bottom: 20px;
}

.mail__inner-container {
	background-color: rgba(248, 247, 244, 1);
	border-radius: 16px;

	padding: 30px 20px 35px 20px;
}

.mail__desc {
	margin: 0;
	margin-bottom: 47px;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.mail__button {
	display: inline-block;
	margin-left: 10px;
}

.mail__form {
	display: flex;
	justify-content: space-between;
}

.mail__input {
	flex-grow: 1;
}

.mail__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

/* contacts */

.contacts {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	height: 430px;
	width: 100%;
	padding: 0 27px;
	background-image: url(../img/map.jpg);
}

.contacts__info {
	background-color: var(--extra-white);
	border-radius: 16px;

	padding: 30px 25px;
	width: 306px;
}

.contact__adress {
	margin-bottom: 30px;
}

.contacts__adress strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts__phone {
	margin: 0 auto;
	margin-bottom: 30px;
}

.contacts__adress strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts__button {
	width: 100%;
}

.contacts__phone strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

/*footer*/
.footer {
	font-family: 'Roboto';
	font-style: normal;
	color: var(--text-light);

	padding: 18px 29px 25px 29px;  
}

.footer__social,
.footer__links {
	list-style: none;
}

.footer__social-image {
	opacity: 0.8;
}

.footer__link {
	text-decoration: none;
	color: inherit;

	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid var(--transparent-gray);
}

.footer__links-item {
	position: relative;
}

.footer__links-item--first::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 13px;

	background-image: url(../img/icons/heart.svg);
	position: absolute;
	left: -20px;
	top: 3px;
}

.footer__creator-info {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;

	color: var(--text-light)
}


/* header catalog */

.header__catalog {
	width: 143px;
	background-color: var(--basic-white);
	border-radius: 4px;

	padding-top: 13px;
	padding-bottom: 8px;
}


.header__catalog-options-list,
.header__catalog-list {
	padding: 0;
	margin: 0;
}



.header__catalog-link {
	text-decoration: none;
	color: var(--text-dark);

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.header__catalog-option-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: var(--text-dark);

}

.header__catalog-option-item {
	margin: 0 9px 0 6px;
	border-bottom: 1px solid var(--transparent-gray-dark);

	padding-bottom: 15px;
	padding-left: 12px;
}

.header__catalog-item {
	box-sizing: border-box;
	padding: 5px 20px;
	width: 100%;
}


/* login popup */

.login-popup {
	font-family: 'Roboto';
	font-style: normal;
	color: var(--text-dark);

	box-sizing: border-box;
	width: 277px;
	padding: 20px;

	background: var(--dark-white);
	box-shadow: var(--popup-shadow);
	border-radius: 4px;

	margin-bottom: 10px;
}

.login-popup__form{
	display: flex;
	flex-wrap: wrap;
	
}

.login-popup__input {
	margin-bottom: 20px;
}

.login-poup__button  {
	margin-right: 20px;
}

.login-popup__link{
	margin-bottom: 20px;
}

.login-popup__link {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	border-bottom: 1px solid var(--transparent-gray-dark);
}

/* search form */
.header__search-form {
	background: var(--dark-white);
	box-shadow: var(--popup-shadow);
	border-radius: 4px;

	box-sizing: border-box;
	width: 341px;
	padding: 20px 15px;
	margin-bottom: 10px;
}

.search-form__input {
	width: 100%;
}

/* feedback */
.feedback {
	font-family: 'Roboto';
	font-style: normal;

	background: var(--dark-white);
	border-radius: 6px;

	box-sizing: border-box;
	padding: 20px 25px;
	width: 477px;

	position: relative;
}

.feedback__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

	margin: 0;
	margin-bottom: 20px;
}

.feedback__input {
	width: 267px;
	margin-bottom: 20px;


	}

.feedback__textarea {
	width: 100%;
	min-height: 154px;
	margin-bottom: 20px;
}

.feedback__textarea::placeholder,
.feedback__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.feedback__button-container{
	text-align: right;
}

.feeedback__close-button {
	display: inline-block;
	width: 18px;
	height: 17px;

	background-image: url(../img/icons/Ð¥-big.svg);
	opacity: 0.18;
	cursor: pointer;

	position: absolute;
	right: 16px;
	top: 15px;
}