@font-face {
  font-family: Roboto;
  src: url("../fonts/roboto.woff") format("woff"),
		url("../fonts/roboto.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotomedium.woff") format("woff"),
		url("../fonts/robotomedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/robotobold.woff") format("woff"),
		url("../fonts/robotobold.woff2") format("woff2");
	font-weight: 700;
	font-style: bold;
}

body {
	font-family: Roboto, sans-serif;
  background-color: var(--green-theme);
}

.visually-hidden {
	display: none;
}

/* Color variables */
:root {
	/*basic colors*/
	--basic-white: #FFFFFF;
	--extra-white: #FEFEFE;
	--dark-white: #F8F7F4;
	--background--gray: #9D8B84;

	/*text*/
	--text-light: #FFFFFF;
	--text-dark: #323232;
	--text-gray-dark: #5A5A5A;
	--text-gray-light: #999999;

	/*background*/
	--gray-theme: #8996A6;
	--green-theme: #849D8F;
	--brown-theme: #9D8B84;

	/*button*/
	--red-linear-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--red-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);

	/*underline*/
	--transparent-gray-light: rgba(255, 255, 255, 0.2);
	--transparent-gray-dark: rgba(50, 50, 50, 0.2);

	/*popup*/
	--popup-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.page {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;

  outline: 2px solid red;
}

/* grid */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 40px;
}

.content__bunners{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.content__slider {
  grid-column: 1/-1;;
}

.content__bunners {
  grid-column: 1/-1;;
}

.content__products {
  grid-column: 1/-1;;
}

.content__features {
  grid-column: 1/-1;;
}

.content__contacts {
  grid-column: 1/-1;;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

/* header */
.header {
  display: grid;
  grid-template-columns: 3fr 1fr;

	color: var(--text-light);
  padding-top: 10px;

  z-index: 2;
  outline: 2px solid red;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__navigation-logo {
  margin-right: 24px;
}

.header__navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.header__navigation-item:not(:last-child) {
  margin-right: 30px;
}

.header__navigation-link,
.header__user-interface-link,
.header__catalog-option-link,
.header__phone-link {
	text-decoration: none;
	color: inherit;
}

.header__navigation-item,
.header__user-interface-item,
.header__catalog-option-item,
.header__catalog-item {
	list-style: none;
}

.header__user-interface-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
}

.header__user-interface {
	text-decoration: none;
	color: inherit;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__navigation-link {
	border-bottom: 1px solid var(--transparent-gray-light);
	line-height: 0;
}

.header__navigation {
	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 18px;
	font-size: 16px;
}

.header__info {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

  margin: 0;
  margin-top: 20px;

  grid-column: 1/-1;

	display: flex;
	flex-direction: column;
	align-items:flex-end;
}

.header__phone-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;

	text-decoration: none;
	color: inherit;
}


/* header button */
.user-interface-button {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--text-light);

	background: var(--transparent-gray-light);
	border-radius: 20px;

	padding: 8px 16px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.header__user-interface-item:not(:last-child) {
  margin-right: 10px;
}

.user-interface-button__text {
	margin-left: 8px;
}

.user-interface-button--search {
	padding: 8px;
	border-radius: 50%;
}


/* slider */
.slider {
	text-align: center;
  z-index: -1;
}

.slider__desc {
	color: var(--text-light);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;

	text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.slider__button {
	display: inline-block;
}

.slider__picture {
  min-height: 750px;
  min-width: 716px;
  z-index: -1;


  background-image: url(../img/promo/ice-cream-1-left.png), url(../img/promo/ice-cream-1-right.png), url(../img/promo/backlight_new_1.png);
  background-repeat: no-repeat;
  background-size: 372px 584px, auto, 750px 750px;
  background-position: top 190px left 530px , top 260px right 490px, top 75px center;

  margin: -260px;
}

/*button*/

.button {
	border: 0;
	text-decoration: none;
	color: var(--text-light);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 22.4px;

	background: var(--red-linear-gradient);
	box-shadow: var(--red-shadow);
	border-radius: 70px;

	cursor: pointer;
}

.button--big {

	font-size: 32px;
	line-height: 44px;
	letter-spacing: 0.05em;

	padding: 9.5px 21.95px;
}

/* bunner */
.bunner {
	display: flex;
	flex-direction: column;
	color: var(--text-light);

  box-sizing: border-box;
	padding: 16px 16px 22px 16px;
	width: 560px;
	background-size: cover;
	border-radius: 20px;
}

.bunner__title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;

	margin: 0;
}

.bunner__desc {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}



.bunner--raspberry {
	background-image: url(../img/rasberry-background.jpg);

}

.bunner--chockolate {
	background-image: url(../img/chokolate-background.jpg);
}

.bunner__link {
	margin-left:auto;
}


/* products*/
.products__list {
	display: flex;

	list-style: none;
  margin: 0;
  padding: 0;
}

.product {
	color: var(--text-light);
	font-family: 'Roboto';
	font-style: normal;

	position: relative;
}

.product:not(:last-child) {
  margin-right: 25px;
}

.product__link {
	text-decoration: none;
	color:  inherit;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.product__price {
	position: absolute;
	bottom: 20px;


	font-weight: 700;
	font-size: 45px;
	line-height: 45px;

	margin: 0 auto;
}

.product__price-small {
	font-size: 30px;
	line-height: 35px;
}

.product__image-container {
	position: relative;
	margin-bottom: 15px;
}

.product__desc {
	text-align: center;
	min-height: 45px;
	margin: 0;
	margin-bottom: 10px;
}

.product__desc span {
	border-bottom: 1px solid var(--transparent-gray-light);
}

.product--hit:before {
	content: "";

	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url(../img/hits/hit-circle.png);
	z-index: 1;
}

.product:hover {
	background-color: var(--transparent-gray-light);
	border-radius: 3px;
}

.product:hover .product__button-container{
	visibility: visible;
}

.product__button-container {
	display: flex;
	justify-content: center;
	width: 100%;

	position: absolute;
	left: 0;
	visibility: hidden;
	z-index: 1;

	background-color: var(--transparent-gray-light);
	border-radius: 3px;
}

.product__button {
	margin-bottom: 20px;
}


/* features*/
.features {
	font-family: 'Roboto';
	font-style: normal;

	border-radius: 10px;
	background-image: url(../img/waffle.png);
  background-repeat: no-repeat;

	padding: 21.5px 20px;
}

.features__desc {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

	margin: 0;
  margin-bottom: 20px;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 30px;

  margin: 0;
  padding: 0;
}

.features__list-item {
  margin: 0;
  padding: 0;
}

.feature__desc {
	color: var(--text-dark);

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

  margin: 0;
	margin-left: 6px;
}

.feature {
	display: flex;
}

.feature__icon {
  position: relative;
  bottom: 15px;
}

/* blog */
.blog {
	font-family: 'Roboto';
	font-style: normal;
	background-image: url(../img/strawberry-background.jpg);
	background-size: cover;
	border-radius: 16px;

	box-sizing: border-box;
	width: 560px;
	padding: 23px 20px 80px 20px;
}

.blog__subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;

	margin: 0;
	margin-bottom: 5px;
}

.blog__desc {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;

	text-decoration: underline;

	margin: 0;
}


/*input */
.input {
	background-color: var(--basic-white);
	border: 1px solid rgba(178, 178, 178, 0.52);

	box-sizing: border-box;
	border-radius: 6px;
	padding: 11.81px 14px;
}

.input::placeholder {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--text-gray-light);
}


/* mail */
.mail {
	font-family: 'Roboto';
	font-style: normal;

	background-image: url(../img/mail-background.jpg);
	border-radius: 16px;

	padding: 5px 6px;

	box-sizing: border-box;
	width: 560px;
}

.mail__inner-container {
	background-color: rgba(248, 247, 244, 1);
	border-radius: 16px;

	padding: 30px 20px 35px 20px;
}

.mail__desc {
	margin: 0;
	margin-bottom: 47px;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.mail__button {
	display: inline-block;
	margin-left: 10px;
}

.mail__form {
	display: flex;
	justify-content: space-between;
}

.mail__input {
	flex-grow: 1;
}

.mail__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

/* contacts */

.contacts {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;

	height: 430px;
	width: 100%;
	padding: 0 27px;
  margin-left: -27px;
	background-image:  url(../img/icons/pin.svg), url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: top 140px left 265px, center center;
}

.contacts__info {
	background-color: var(--extra-white);
	border-radius: 16px;

	padding: 30px 25px;
	width: 306px;
}

.contacts__adress {
  margin: 0;
	margin-bottom: 30px;
}

.contacts__adress strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts__phone {
	margin: 0 auto;
	margin-bottom: 30px;
}

.contacts__adress strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts__button {
	width: 100%;
}

.contacts__phone strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

/*footer*/
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 25px;

	font-family: 'Roboto';
	font-style: normal;
	color: var(--text-light);

	padding: 18px 0 25px 0;
}

.footer__social {
  /* align-self: center; */

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 12px;
}

.footer__social-link {
  display: inline-flex;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer__links{
  align-self: center;
  justify-self: center;
	margin: 0;
	padding: 0;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 30px;
  grid-row-gap: 5px;

}

/* .footer__links-item {
  margin-bottom: 11px;
} */

.footer__creator{
  align-self: center;
}

.footer__social,
.footer__links {
	list-style: none;
}

.footer__social-image {
	opacity: 0.8;
}

.footer__link {
	text-decoration: none;
	color: inherit;

	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid var(--transparent-gray-light);
}

.footer__links-item {
	position: relative;
}

.footer__links-item--first::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 13px;

	background-image: url(../img/icons/heart.svg);
	position: absolute;
	left: -20px;
	top: 3px;
}

.footer__creator {
  justify-self: flex-end;
}

.footer__creator-logo {
  margin-bottom: 8px;
}

.footer__creator-info {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: var(--text-light);

  margin: 0;
}


/* header catalog */
.header__catalog {
	width: 143px;
	background-color: var(--basic-white);
	border-radius: 4px;

	padding-top: 13px;
	padding-bottom: 8px;
}


.header__catalog-options-list,
.header__catalog-list {
	padding: 0;
	margin: 0;
}

.header__catalog-link {
	text-decoration: none;
	color: var(--text-dark);

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.header__catalog-option-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: var(--text-dark);
}

.header__catalog-option-item {
	margin: 0 9px 0 6px;
	border-bottom: 1px solid var(--transparent-gray-dark);

	padding-bottom: 15px;
	padding-left: 12px;
}

.header__catalog-item {
	box-sizing: border-box;
	padding: 5px 20px;
	width: 100%;
}


/* login popup */

.login-popup {
	font-family: 'Roboto';
	font-style: normal;
	color: var(--text-dark);

	box-sizing: border-box;
	width: 277px;
	padding: 20px;

	background: var(--dark-white);
	box-shadow: var(--popup-shadow);
	border-radius: 4px;

	margin-bottom: 10px;
}

.login-popup__form{
	display: flex;
	flex-wrap: wrap;

}

.login-popup__input {
	margin-bottom: 20px;
}

.login-poup__button  {
	margin-right: 20px;
}

.login-popup__link{
	margin-bottom: 20px;
}

.login-popup__link {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	border-bottom: 1px solid var(--transparent-gray-dark);
}

/* search form */
.header__search-form {
	background: var(--dark-white);
	box-shadow: var(--popup-shadow);
	border-radius: 4px;

	box-sizing: border-box;
	width: 341px;
	padding: 20px 15px;
	margin-bottom: 10px;
}

.search-form__input {
	width: 100%;
}

/* feedback */
.feedback {
	font-family: 'Roboto';
	font-style: normal;

	background: var(--dark-white);
	border-radius: 6px;

	box-sizing: border-box;
	padding: 20px 25px;
	width: 477px;

	position: relative;
}

.feedback__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

	margin: 0;
	margin-bottom: 20px;
}

.feedback__input {
	width: 267px;
	margin-bottom: 20px;


	}

.feedback__textarea {
	width: 100%;
	min-height: 154px;
	margin-bottom: 20px;
}

.feedback__textarea::placeholder,
.feedback__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.feedback__button-container{
	text-align: right;
}

.feeedback__close-button {
	display: inline-block;
	width: 18px;
	height: 17px;

	background-image: url(../img/icons/Ð¥-big.svg);
	opacity: 0.18;
	cursor: pointer;

	position: absolute;
	right: 16px;
	top: 15px;
}





/*CATALOG*/
.page__title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	color: var(--text-light);
}

/* breadcrumbs */
.breadcrumbs {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: var(--text-light);
}

.breadcrumbs__list {
	padding: 0;
	margin: 0;

	display: flex;
}
.breadcrumbs__item {
	list-style: none;
}

.breadcrumbs__item::after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-image: url(../img/icons/arrows.svg);
	margin: 0 8px;
}

.breadcrumbs__item--last::after  {
	display: none;
}

.breadcrumbs__link {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid var(--transparent-gray-light);
}

/* filter */
.filter {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	color: var(--text-light);

	width: 870px;
}

.filter__name {
	font-size: 14px;
	line-height: 16px;
}

.filter__type {
	border: none;
}

.filter__inner-container {
	height: 36px;
	background: var(--transparent-gray-light);
	border-radius: 20px;

	display: flex;
	align-items: center;

	position: relative;
}

/* -sorting*/

.filter__sorting-types {
	background: var(--basic-white);
	border-radius: 20px;
	border: none;

	padding: 10px 15px;
}

/* -price*/
.filter__price-range {
	padding: 0 20px;
}

.filter__price-scale{
	display: block;
	width: 100%;
	height: 0;
	border: 2px solid rgba(248, 247, 244, 0.5);
}

.filter__price-floor,
.filter__price-ceiling {
	position: absolute;
	width: 20px;

	height: 20px;
	border-radius: 50%;
	background-color: var(--basic-white);
	cursor: pointer;
}

.filter__price-floor {
	left: 105px;
}

.filter__price-ceiling {
	right: 50px;
}

.filter__price-floor::before,
.filter__price-ceiling::before {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;

	border-radius: 50%;
	background-color: #ABABAB;

	position: absolute;
	top: 8px;
	left: 7.5px;
}

/* products */
.products__list {
	display: flex;
	flex-wrap: wrap;
}

.products__navigation-list {
	display: flex;
	align-items: center;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-left: auto;

}

.products__navigation-item {
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--text-light);
	cursor: pointer;

	margin-right: 20px;
}

.products__navigation-item--active {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	background-color: var(--basic-white);
	border-radius: 50%;
	color: var(--text-dark)
}

/* button dark */
.button-dark {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	padding: 12px 30px;

	background: rgba(255, 255, 255, 0.2);
	border: 2px solid #FFFFFF;
	color: var(--text-light);
	border-radius: 20px;
	cursor: pointer;
}
