/* Color variables */
:root {
	/*basic colors*/
  --basic-black: #000000;
	--basic-white: #FFFFFF;
	--extra-white: #FEFEFE;
	--dark-white: #F8F7F4;
	--background--gray: #9D8B84;

	/*text*/
	--text-light: #FFFFFF;
	--text-dark: #323232;
  --text-gray: #ABABAB;
	--text-gray-dark: #5A5A5A;
	--text-gray-light: #999999;

	/*page-themes*/
	--gray-theme: #8996A6;
	--green-theme: #849D8F;
	--brown-theme: #9D8B84;

  /*background*/
  --background-raspberry: #96071B;
  --background-chocolate: #84675D;
  --background-map: #EDE4C5;
  --background-waffle: #F1E8D6;

  /*red hues*/
  --classic-red: #E84D37;

	/*button*/
	--red-linear-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
	--red-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --hover-red-shadow: 0px 1px 2px #AC1000;
  --hover-big-red-shadow: 0px 2px 2px #AC1000;
  --active-red-shadow: inset 0px 2px 2px #942718;
  --active-gray-shadow: inset 0px 2px 1px #696969;


	/*underline*/
	--transparent-gray-light: rgba(255, 255, 255, 0.2);
  --transparent-gray-medium: rgba(255, 255, 255, 0.4);
	--transparent-gray-dark: rgba(50, 50, 50, 0.2);

	/*popup*/
	--popup-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
