/* breadcrumbs */
.breadcrumbs {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	color: var(--text-light);
}

.breadcrumbs__list {
	padding: 0;
	margin: 0;

	display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item {
	list-style: none;
}

.breadcrumbs__item::after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background-image: url(../../img/icons/arrows.svg);
	margin: 0 8px;
}

.breadcrumbs__item--last::after  {
	display: none;
}

.breadcrumbs__link {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid var(--transparent-gray-light);
}
