/* bunner */
.bunner {
	display: flex;
	flex-direction: column;

  font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;
	color: var(--text-light);

  box-sizing: border-box;
	padding: 10px 22px 22px 18px;
	width: 560px;
	background-size: cover;
	border-radius: 20px;
}

.bunner__title {
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;

	margin: 0;
  margin-bottom: 15px;
}

.bunner__desc {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;

  margin: 0;
  margin-bottom: 45px;
}

.bunner--raspberry {
  background-color: var(--background-raspberry);
	background-image: url(../../img/rasberry-background.jpg);
}

.bunner--chockolate {
  background-color: var(--background-chocolate);
	background-image: url(../../img/chokolate-background.jpg);
}

.bunner__link {
	margin-left:auto;
}
