/*button*/
.button {
	border: 0;
	text-decoration: none;
	color: var(--text-light);

	font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 22.4px;

	background: var(--red-linear-gradient);
	box-shadow: var(--red-shadow);
	border-radius: 26px;

	cursor: pointer;
}

.button--big {
	font-size: 32px;
	line-height: 44px;
	letter-spacing: 0.05em;
  border-radius: 70px;

  padding-left: 0;
  padding-right: 0;
	/* padding: 9.5px 23px;
  padding-left: 10px; */
  min-width: 261px;
}

.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: var(--hover-red-shadow);
}

.button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: var(--active-red-shadow);
}

.button--big:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: var(--hover-big-red-shadow);
}




