/* contacts */

.contacts {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
  color: var(--text-dark);

	min-height: 430px;
	width: 100%;
	padding: 0 27px;
  margin-left: -27px;
  background-color: var(--background-map);
	background-image:  url(../../img/icons/pin.svg), url(../../img/map.jpg);
  background-repeat: no-repeat;
  background-position: top 140px left 265px, center center;

  position: relative;
}

.contacts__info {
	background-color: var(--extra-white);
	border-radius: 16px;

	padding: 30px 25px;
	width: 306px;

  z-index: 3;
}

.contacts__adress {
  margin: 0;
	margin-bottom: 30px;
}

.contacts__adress strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts__phone {
	margin: 0 auto;
	margin-bottom: 30px;
}

.contacts__phone strong {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.contacts__phone-number {
  color: inherit;
  text-decoration: none;
}

.contacts__button {
  display: block;
  text-align: center;
}

.contacts__map {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
