/* filters */
.filters {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 500;
	color: var(--text-light);

  margin-bottom: 40px;
}

.filters__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.filters__name {
	font-size: 14px;
	line-height: 16px;

  margin-bottom: 5px;
  margin-left: 15px;
}

.filters__type {
	border: none;
  padding: 0;
  margin: 0;
}

.filters__inner-container {
	min-height: 36px;
	background: var(--transparent-gray-light);
	border-radius: 20px;

	display: flex;
	align-items: center;
  flex-wrap: wrap;

	position: relative;
}

/* -sorting*/
.filters__sorting-types {
  color: var(--basic-white);
	background-color: var(--transparent-gray-light);
	border-radius: 20px;
	border: none;

	padding: 10px 15px;
  cursor: pointer;

  min-width: 196px;
  appearance: none;
  overflow: hidden;
  background-image: url("../../img/icons/triangle_white.svg");
  background-position: center right 15px;
  background-repeat: no-repeat;
}

.filters__sorting-types option {
  color: var(--text-dark);
}

.filters__sorting-types:hover {
  color: var(--text-dark);
  background-image: url("../../img/icons/triangle_black.svg");
}

/* -topping*/
.filters__button {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	padding: 0 30px;
  height: 36px;

	background: rgba(255, 255, 255, 0.2);
	border: 2px solid #FFFFFF;
	color: var(--text-light);
	border-radius: 20px;
	cursor: pointer;

  align-self: flex-end;
}

.filters__button:hover {
  background: var(--basic-white);
  color: var(--text-dark);
}

.filters__button:active {
  background: var(--basic-white);
  color: var(--text-dark);
  box-shadow: inset 0px 2px 1px #696969;
}

/* radio */
.filters__radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters__radio-option-label {
  flex-shrink: 0;

  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

.filters__radio-option-label:not(:last-child) {
  margin-right: 20px;
}

.filters__radio-option-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 10px;

  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.filters__radio-option-label::after {
  content: "";
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  left: 8px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.filters__radio-option-input:checked + .filters__radio-option-label::after {
  display: block;
}

.filters__radio-option-label:hover::after {
  background-color: var(--basic-white);
}

.filters__radio-option-label:hover::before {
  border-color: var(--basic-white);
}

.filters__radio-option-input:disabled + .filters__radio-option-label::before {
  border-color: rgba(255, 255, 255, 0.4);
}


.filters__radio-option-input:focus-visible + .filters__radio-option-label::before {
  outline: -webkit-focus-ring-color auto 1px;
}


/*checkbox */
.filters__checkbox {
  padding: 0 20px;
}

.filters__checkbox-option-label {
  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

.filters__checkbox-option-label:not(:last-child) {
  margin-right: 20px;
}

.filters__checkbox-option-label:before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 20px;
  margin-right: 8px;
  background-image: url(../../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.filters__checkbox-option-input:checked + .filters__checkbox-option-label:before{
  background-image: url(../../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filters__checkbox-option-input:disabled + .filters__checkbox-option-label:before {
  opacity: 0.4;
}


.filters__checkbox-option-label:hover::before {
  opacity: 1;
}


.filters__checkbox-option-label:disabled + .filters__checkbox-option-label:before {
  opacity: 0.4;
}

.filters__checkbox-option-label:disabled:hover + .filters__checkbox-option-label:before {
  opacity: 0.4;
}

.filters__checkbox-option-input:focus-visible + .filters__checkbox-option-label::before {
  outline: -webkit-focus-ring-color auto 2px;
}

