.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 25px;

	font-family: 'Roboto';
	font-style: normal;
	color: var(--text-light);

	padding: 18px 0 25px 0;
  border-top: 1px solid var(--transparent-gray-light);
}


/* social */
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-item:not(:last-child) {
  margin-right: 12px;
}

.footer__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  opacity: 0.8;
}

.footer__social-link:hover{
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.footer__social-link:active{
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer__social-image {
  border-radius: 50%;
}




/* links */
.footer__links{
  align-self: center;
  justify-self: center;
	margin: 0;
	padding: 0;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 30px;
  grid-row-gap: 5px;

  list-style: none;
}

.footer__links-item {
	position: relative;
}

.footer__links-item--first::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 13px;

	background-image: url(../../img/icons/heart.svg);
	position: absolute;
	left: -20px;
	top: 3px;
}


/*creator*/
.footer__creator {
  align-self: center;
  justify-self: flex-end;
}

.footer__creator-info {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: var(--text-light);

  margin: 0;
}
