/*footer*/
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 25px;

	font-family: 'Roboto';
	font-style: normal;
	color: var(--text-light);

	padding: 18px 0 25px 0;
  border-top: 1px solid var(--transparent-gray-light);
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 12px;
}

.footer__social-link {
  display: inline-flex;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer__links{
  align-self: center;
  justify-self: center;
	margin: 0;
	padding: 0;

  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 30px;
  grid-row-gap: 5px;

}

.footer__creator{
  align-self: center;
}

.footer__social,
.footer__links {
	list-style: none;
}

.footer__social-image {
	opacity: 0.8;
}

.footer__link {
	text-decoration: none;
	color: inherit;

	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid var(--transparent-gray-light);
}

.footer__links-item {
	position: relative;
}

.footer__links-item--first::before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 13px;

	background-image: url(../../img/icons/heart.svg);
	position: absolute;
	left: -20px;
	top: 3px;
}

.footer__creator {
  justify-self: flex-end;
}

.footer__creator-info {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: var(--text-light);

  margin: 0;
}
