/* header */
.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-content: space-between;

	color: var(--text-light);
  padding-top: 10px;

  z-index: 2;
  outline: 2px solid red;
}

/*navigation */
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 18px;
	font-size: 16px;
}

.header__navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.header__navigation-item {
  position: relative;
  border-radius: 26px;
}

.header__navigation-item:not(:last-child) {
  margin-right: 30px;
}

.header__navigation-logo {
  margin-right: 24px;
}



.header__navigation-link {
  font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 18px;
	font-size: 16px;

  display: block;
  padding: 6px 13.5px 7px 13.5px;
  border-radius: 26px;
}


.header__navigation-text {
  display: block;
  border-bottom: 1px solid var(--transparent-gray-light);
}



.header__navigation-link,
.header__user-interface-link,
.header__catalog-option-link,
.header__phone-link {
	text-decoration: none;
	color: inherit;
}

.header__navigation-item,
.header__user-interface-item,
.header__catalog-option-item,
.header__catalog-item {
	list-style: none;
}

/* состояния */
.header__navigation-link:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header__navigation-link:hover .header__navigation-text{
  border: none;
}

.header__navigation-link:active {
  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
  color: var(--basic-black);
}

.header__navigation-link:active .header__navigation-text{
  border: none;
}

.header__navigation-link--current {
  background: #D07058;
  color: var(--basic-white);
}

.header__navigation-link--current  .header__navigation-text  {
  border: none;
}

/* user interface*/
.header__user-interface-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
}

.header__user-interface {
	text-decoration: none;
	color: inherit;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__info {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;

  margin: 0;

	display: flex;
	flex-direction: column;
	align-items:flex-end;

  order: 2;
}

.header__phone-link {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;

	text-decoration: none;
	color: inherit;
}


/* header button */
.user-interface-button {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: var(--text-light);

	background: var(--transparent-gray-light);
	border-radius: 20px;

	padding: 8px 16px;

	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.header__user-interface-item:not(:last-child) {
  margin-right: 10px;
}

.user-interface-button__text {
	margin-left: 8px;
}

.user-interface-button--search {
	padding: 8px;
	border-radius: 50%;
}




/* SHOW catalog menu*/
.header__navigation-link--catalog:hover ~ .header__catalog-wrapper{
  display: block;
}

.header__catalog-wrapper:hover{
  display: block;
}


/* header catalog */
.header__catalog-wrapper {
  display: none;
  position: absolute;
  display: none;
  left: -5px;
  top: 31px;

  z-index: 20;

	width: 143px;
	border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);

  color: var(--text-dark);
}

.header__catalog {
  height: 100%;
	width: 143px;

	background-color: var(--basic-white);
	border-radius: 4px;

  color: var(--text-dark);

	padding-bottom: 8px;
  margin-top: 5px;
}


/* .header__catalog {
  display: none;

  position: absolute;
  left: -5px;
  top: 36px;

  z-index: 20;

	width: 143px;
	background-color: var(--basic-white);
	border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);

	padding-bottom: 8px;

  color: var(--text-dark);
}
 */

.header__catalog-options-list,
.header__catalog-list {
	padding: 0;
	margin: 0;
}

/*catalog-menu 1*/
.header__catalog-options-list {
  padding: 0;
	margin: 0;

  margin-bottom: 10px;
  border-bottom: 1px solid var(--transparent-gray-dark);
}

.header__catalog-option-item {
  display: flex;
}

.header__catalog-option-link {
  display: flex;
  align-self: center;
  align-items: center;

  box-sizing: border-box;
  /* width: 100%; */
  /* min-height: 27px; */
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;


	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: var(--text-dark);
  user-select: none;
}

/* catalog menu 2*/
.header__catalog-list {
	padding: 0;
	margin: 0;
}

.header__catalog-item {
	box-sizing: border-box;
  min-height: 27px;
	width: 100%;

  display: flex;
  align-items: center;
}

.header__catalog-link {
  display: flex;
  align-self: center;
  align-items: center;

  width: 100%;
  min-height: 27px;
  padding-left: 20px;

  text-decoration: none;
	color: inherit;

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}



.header__catalog-link:hover {
  background-color: #FBDED7;
}

.header__catalog-link:active {
  background-color: #F6B5A5;;
}

.header__catalog-link--curent{
  background-color: #D07058;
  color: var(--basic-white);
}

.header__catalog-link--curent:hover {
  background-color: #D07058;
  color: var(--basic-white);
  cursor: default;
}

/*breadcrumbs*/

.header__breadcrumbs {
  order: 1;
  align-self: flex-end;
}

.header__info--main {
  grid-column-start: 1;
  grid-column-end: -1;
}


