/*input */
.input {
	background-color: var(--basic-white);
  border: none;
  outline: 1px solid rgba(178, 178, 178, 0.52);


	box-sizing: border-box;
	border-radius: 6px;
	padding: 11.81px 14px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: var(--text-dark);
}

.input::placeholder {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--text-gray-light);
}

.input:hover {
	outline: 2px solid rgba(178, 178, 178, 0.52);
}

.input:focus {
	outline: 2px solid rgba(46, 136, 228, 0.52);
}

.input:focus-visible {
	outline: 2px solid rgba(46, 136, 228, 0.52);
}
