.link {
	text-decoration: none;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;
	color: var(--text-light);

	font-weight: 400;
	font-size: 13px;
	line-height: 18px;

}

.link__text{
	border-bottom: 1px solid var(--transparent-gray-light);
  user-select: none;
}

.link:hover .link__text,
.link:active .link__text{
  color: #FFBC9E;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.link--dark{
  color: var(--text-dark);
  font-weight: 400;
	font-size: 13px;
	line-height: 15px;
}

.link--dark .link__text {
  border-bottom: 1px solid var(--transparent-gray-dark);
}

.link--dark:hover .link__text,
.link--dark:active .link__text{
  color: var(--classic-red);
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}
