/* login popup */
.login-popup {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;
	color: var(--text-dark);

	box-sizing: border-box;
	width: 277px;
	padding: 21px;

	background: var(--dark-white);
	box-shadow: var(--popup-shadow);
	border-radius: 4px;

	z-index: 3;
}

.login-popup__form{
	display: flex;
	flex-wrap: wrap;
}

.login-popup__input {
	margin-bottom: 20px;
}

.login-poup__button  {
	margin-right: 20px;
	max-height: 44px;
  line-height: 16px;
}

.login-popup__link{
  display: inline-block;
  vertical-align: middle;
	line-height: 15px;
  margin-top: 5px;
}



