/* mail */
.mail {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;

	background-image: url(../../img/mail-background.jpg);
  background-repeat: repeat;
	border-radius: 16px;

  box-sizing: border-box;
	padding: 5px 6px;

	box-sizing: border-box;
	width: 560px;
  display: flex;

}

.mail__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 100%;
	background-color: rgba(248, 247, 244, 1);
	border-radius: 16px;

  box-sizing: border-box;
	padding: 30px 20px 10px 20px;
}

.mail__desc {
	margin: 0;
	margin-bottom: 34px;

	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.mail__button {
  max-height: 44px;
	margin-left: 10px;
}

.mail__form {
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.mail__input {
	flex-grow: 1;
  margin-top: 13.25px;
  margin-bottom: 13.25px;
}

.mail__input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
