/* products */
.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 40px;

  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: 80px;
}

.products__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 30px;
}

.products__pagination-list {
	display: flex;
	align-items: center;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin-left: auto;

}

.products__pagination-item {
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--text-light);
	cursor: pointer;

	margin-right: 20px;
}

.products__pagination-item--active {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;

	width: 26px;
	height: 26px;
	background-color: var(--basic-white);
	border-radius: 50%;
	color: var(--text-dark)
}

.products__pagination-item--disabled {
  cursor: auto;
}

.products__list--hits {
  margin-bottom: 0;
}
