/* products*/
.product {
  position: relative;
  padding-top: 5px;

	color: var(--text-light);
	font-family: 'Roboto', 'Arial', sans-serif;
	font-style: normal;

  user-select: none;
}

.product__price {
	position: absolute;
	bottom: 20px;


	font-weight: 700;
	font-size: 45px;
	line-height: 45px;

	margin: 0 auto;
}

.product__price-small {
	font-size: 30px;
	line-height: 35px;
}

.product__image-container {
  display: flex;
	position: relative;
	margin-bottom: 10px;

}

.product__link {
  display: block;
  font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;

	min-height: 45px;
	margin: 0;
	margin-bottom: 10px;
}

.product__link-text {
	border-bottom: 1px solid var(--transparent-gray-light);
}

.product--hit:before {
	content: "";

	position: absolute;
	width: 61px;
	height: 61px;
	background-image: url(../../img/hits/hit-circle.png);
  background-repeat: no-repeat;
  z-index: 50;
}

.product__button-container {
	display: flex;
	justify-content: center;
	width: 100%;

	position: absolute;
	left: 0;
	visibility: hidden;

	border-radius: 3px;
}


.product:hover .product__button-container{
	visibility: visible;
}

.product:hover .product__button,
.product:hover .product__image-container,
.product__link{
	z-index: 3;
}

.product:hover::after {
  content: "";
  position: absolute;
  left: -13px;
  top: 0;
  z-index: 2;

  box-sizing: border-box;
  padding: 5px 13px 21px 13px;
  width: 293px;
  min-height: 402px;

  background-color: var(--transparent-gray-light);
	border-radius: 3px;
}

.product:focus::after {
  content: "";
  position: absolute;
  left: -13px;
  top: 0;
  z-index: 2;

  box-sizing: border-box;
  padding: 5px 13px 21px 13px;
  width: 293px;
  min-height: 402px;

  background-color: var(--transparent-gray-light);
	border-radius: 3px;
}

.product:focus .product__button-container{
	visibility: visible;
}

.product__button:focus {
	visibility: visible;
}
