/* search form */
.search-form {
	background: var(--dark-white);
	box-shadow: var(--popup-shadow);
	border-radius: 4px;

	box-sizing: border-box;
	width: 341px;
  height: auto;

	padding: 20px 15px;
}

.search-form__input {
	width: 100%;
}

.search-form:focus {
  display: block;
}


