/* search form */
.header__search-form {
	background: var(--dark-white);
	box-shadow: var(--popup-shadow);
	border-radius: 4px;

	box-sizing: border-box;
	width: 341px;
	padding: 20px 15px;
	margin-bottom: 10px;
}

.search-form__input {
	width: 100%;
}
