/* slider */
.slider {
  position: relative;
	text-align: center;
}

.slider__desc {
	color: var(--text-light);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;

	text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;

  width: 716px;

 margin-top: 275px;
 text-align: center;
}

.slider__button {
	display: inline-block;
}

.slider__controls {
  position: absolute;
  left:0;
  bottom: 15px;
}

.slider__control {
  box-sizing: border-box;
  width: 21px;
  height: 21px;

  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
}

.slider__control:not(:last-child) {
  margin-right: 5px;
}

.slider__control--active {
  background-color: var(--basic-white);
}
