/* slider */
.slider {
	text-align: center;
  z-index: -1;
}

.slider__desc {
	color: var(--text-light);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;

	text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.slider__button {
	display: inline-block;
}

.slider__picture {
  min-height: 750px;
  min-width: 716px;
  z-index: -1;


  background-image: url(../../img/promo/ice-cream-1-left.png), url(../../img/promo/ice-cream-1-right.png), url(../../img/promo/backlight_new_1.png);
  background-repeat: no-repeat;
  background-size: 372px 584px, auto, 750px 750px;
  background-position: top 190px left 530px , top 260px right 490px, top 75px center;

  margin: -260px;
}
